{% extends 'dashboard/base.html' %}
<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" >
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

{%  block content %}
<body>
    
            <!-- Dashboard starts -->
            <main>
                <div class="page-header">
                    <div>
                        <h1>Dashboard</h1>
                        <h5>Bienvenue sur votre dashboard. Importer vos CSV, 
                        nettoyer les données et analyser vos graphiques</h5> 
                    </div>
                </div>



                <!-- Boutons accès graphique starts -->
                <div class="container-button-graphique">
                    <div class="row">
                        <div class="graphic-actions-button">
                            <a class="btn btn-success" aria-current="page" href="{%  url 'graphique-region' %}">Ventes par région</a>
                            <a class="btn btn-success" aria-current="page" href="{%  url 'graphique-produit' %}">Ventes par produit</a>
                            <a class="btn btn-success" aria-current="page" href="{%  url 'graphique-region-produit' %}">Ventes par région et par produit</a>
                        </div>
                    </div>
                </div>
                <!-- Boutons accès graphique ends -->




                <!-- KPI starts -->
                <div class="cards">
                    <div class="card-single">
                        <div class="card-flex">
                            <div class="card-info">
                                <div class="card-head">
                                    <span>Factures</span>
                                    <small>Nombre de facturations clients</small>
                                </div>
                                <h2>{{ invoices }}</h2>
                            </div>
                            <div class="card-chart">
                                <span class="las la-file-invoice"></span>
                            </div>
                        </div>
                    </div>
                
                    <div class="card-single">
                        <div class="card-flex">
                            <div class="card-info">
                                <div class="card-head">
                                    <span>Produits</span>
                                    <small>Nombre de produits vendus</small>
                                </div>
                                <h2>{{ products }}</h2>
                            </div>
                            <div class="card-chart">
                                <span class="las la-barcode"></span>
                            </div>
                        </div>
                    </div>
                
                    <div class="card-single">
                        <div class="card-flex">
                            <div class="card-info">
                                <div class="card-head">
                                    <span>Livraisons</span>
                                    <small>Nombre de pays livrés</small>
                                </div>
                                <h2>{{ countries }}</h2>
                            </div>
                            <div class="card-chart">
                                <span class="las la-plane"></span>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="card-single">
                        <div class="card-flex">
                            <div class="card-info">
                                <div class="card-head">
                                    <span>Chiffres d'affaires</span>
                                    <small>Somme des ventes de produits</small>
                                </div>
                                <h2>{{ earnings }} $</h2>
                            </div>
                            <div class="card-chart">
                                <span class="las la-cash-register"></span>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- KPI ends -->

            </main>
            <!-- Dashboard ends -->

        </div>
        <!-- main-content endif -->
        <label for="sidebar-toggle" class="body-label"></label>
    
    <!-- Copyright -->
    <div>
        <h3> Copyright © 2022 Analysis Business Intelligence</h3>
    </div>
    <!-- Copyright -->
</body>
{% endblock %}
</html>