{% extends 'dashboard/base.html' %}
{% load static %}

{%  block content %}
{% if user.is_authenticated %}
<body>
    <!-- Dashboard starts -->
    <main>
        <div class="page-header">
            <div class="col-md-6">
                <div>
                    <h1>Dashboard</h1>
                    <h5>Bienvenue sur votre dashboard. Importer vos CSV, 
                    nettoyer les données et analyser vos graphiques</h5> 
                </div>
            </div>

            <!-- Card import csv starts -->
            <div class="col-md-6">
                <div class="card">
                    <div class="header-actions-button">
                        Aller à la page pour importer un csv starts
                        <div><h5>Importer un fichier CSV</h5></div>
                        <div><a class="btn btn-secondary round" aria-current="page" href="{%  url 'import' %}">Importer</a></div>
                    </div>   
                </div>
            </div>
            <!-- Card import csv ends -->
        </div>

        {% if invoices == 0 %}
        <h5 style="color: red ;">Aucune données n'a été enregistrés dans la base de donnée <br>
        Veuillez importer un premier fichier csv!</h5>

        {% else %}
        <!-- KPI starts -->

        <div class="cards">

            <div class="card-single bg-success">
                <div class="card-flex">
                    <div class="card-info">
                        <div class="card-head">
                            <span>Chiffres d'affaires</span>
                            <small>Somme des ventes de produits</small>
                        </div>
                        <h2> {{ earningsfloat }} $</h2>
                    </div>
                    <div class="card-chart">
                        <span class="las la-cash-register"></span>
                    </div>
                </div>
            </div>

            <div class="card-single bg-primary">
                <div class="card-flex">
                    <div class="card-info">
                        <div class="card-head">
                            <span>Factures</span>
                            <small>Nombre de facturations clients</small>
                        </div>
                        <h2>{{ invoices }}</h2>
                    </div>
                    <div class="card-chart">
                        <span class="las la-file-invoice"></span>
                    </div>
                </div>
            </div>
        
            <div class="card-single bg-secondary">
                <div class="card-flex">
                    <div class="card-info">
                        <div class="card-head">
                            <span>Produits</span>
                            <small>Nombre de produits référencés vendus</small>
                        </div>
                        <h2>{{ products }}</h2>
                    </div>
                    <div class="card-chart">
                        <span class="las la-barcode"></span>
                    </div>
                </div>
            </div>
        
            <div class="card-single bg-warning">
                <div class="card-flex">
                    <div class="card-info">
                        <div class="card-head">
                            <span>Livraisons</span>
                            <small>Nombre de pays <br> livrés</small>
                        </div>
                        <h2>{{ countries }}</h2>
                    </div>
                    <div class="card-chart">
                        <span class="las la-plane"></span>
                    </div>
                </div>
            </div>

            
        </div>
        <!-- KPI ends -->

        <!-- Section graphique starts -->
        <div class="graphique">
            <div>
                <h2>Graphiques</h2>
            </div>
            <!-- Boutons accès graphique starts -->
            <div class="graphique-button">
                <div class="row">
                    <div class="graphique-actions-button">
                        <a class="btn btn-success round" aria-current="page" href="{%  url 'graphique-region' %}">Ventes par région</a>
                        <a class="btn btn-success round" aria-current="page" href="{%  url 'graphique-produit' %}">Ventes par produit</a>
                        <a class="btn btn-success round" aria-current="page" href="{%  url 'graphique-region-produit' %}">Ventes par région et par produit</a>
                        <a class="btn btn-info round" aria-current="page" href="{%  url 'graphique-vente-mensuelle' %}">Ventes par mois</a>
                        <a class="btn btn-info round" aria-current="page" href="{%  url 'graphique-region-produit-uk' %}">Ventes par produit region UK</a>
                    </div>
                </div>
            </div>
            <!-- Boutons accès graphique ends -->
        </div>
        {% endif %}
        <!-- Section graphique starts -->
    </main>
    <!-- Dashboard ends -->

    <label for="sidebar-toggle" class="body-label"></label>
</body>
    
{% else %}

    <h1 style="text-align: center;">Bonjour, veuillez vous connecter pour avoir accès à votre dashboard</h1>
    <!-- <a class="btn btn-success" aria-current="page" href="{%  url 'login' %}">Connexion</a> -->

{% endif %}

{% endblock %}