{% extends 'dashboard/base.html' %}
{% load static %}

<!-- <link rel="stylesheet" href="/src/dashboard/static/dashboard/css/style.css"> -->

{% block content %}


<!-- Sélectionner et importer un fichier CSV puis feedback starts -->
<div class="container-import">

    <!-- Card import csv et feedback starts -->
    <div class="card mb-3">
        <div class="card-header">
            <div class="header-actions">
                Analyse du fichier CSV importé
            </div>  
        </div>

        <!-- Feedback starts -->    
        <div class="card-body text-dark">
            <div class="card-title">
                <h5 class="card-paragraph bold-text">Feedback</h5>
                <p class="card-text">{{ dataOrigin }}</p>
            </div>
            <div class="card-clean">
                <h6 class="card-paragraph bold-text">À nettoyer</h6>
                <p class="card-text-delete">{{ dataToDelete }}</p>
                <p class="card-text-repair">{{ dataToRepair }}</p>  
            </div>
            <div class="card-total">
                <h6 class="card-paragraph bold-text">Après nettoyage</h6>
                <p class="card-text">{{ dataFinal }}</p>

                {% if percDataDeleteFloat <= 5 %}
                <div class="card-validation">
                    <p class="card-text">{{ percDataDelete }} <br>
                        Vous pouvez nettoyer les données
                    </p>
                    <div class="header-actions-button">
                        <a class="btn btn-success" aria-current="page" href="{%  url 'nettoyer' %}" style="--bs-btn-padding-y: 0.36rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1.1rem;">Nettoyer données</a>
                    </div>
                </div>

                {% else %}
                <div class="card-validation">
                    <p class="card-text">{{ percDataDelete }} <br> 
                        La suppression n'est pas conseillé car cela peut fausser l'interprétation des graphiques <br>
                        Nettoyer quand même?
                    </p>
                    <div class="header-actions-button">
                        <a class="btn btn-warning" aria-current="page" href="{%  url 'nettoyer' %}" style="--bs-btn-padding-y: 0.36rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1.1rem;">Nettoyer données</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Feedback ends --> 

    </div>
    <!-- Card import csv et feedback ends -->

</div>
<!-- Sélectionner et importer un fichier CSV puis feedback ends -->

{% endblock %}

