{% load static %}

<!-- navbar starts -->
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%  url 'home' %}">
            <img src="{% static 'images/logo.png' %}" width="86" height="86" alt="logo">   
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%  url 'home' %}">
                    Dashboard
                    </a>
                </li>

                {% if invoices == 0 %}
                <!-- Le menu déroulant graphique ne vas pas apparaître si pas de données -->
                {% else %}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Graphique
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{%  url 'graphique-region' %}">Ventes par région</a></li>
                        <li><a class="dropdown-item" href="{%  url 'graphique-produit' %}">Ventes par produit</a></li>
                        <li><a class="dropdown-item" href="{% url 'graphique-region-produit' %}">Ventes par région et par produit</a></li>
                        <li><a class="dropdown-item" href="{% url 'graphique-vente-mensuelle' %}">graphique vente par mois</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav me-end mb-lg-0">
                <li class="dropstart me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Bonjour {{ user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        
                        {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="{%  url 'import' %}">Importer CSV</a></li>
                        <li><a class="dropdown-item" href="{%  url 'add-user' %}">Ajouter un utilisateur</a></li>
                        <li><a class="dropdown-item bg-warning" href="{% url 'supprimer-données' %}">Supprimer les données</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item bg-danger" href="{%  url 'logout' %}">Déconnexion</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{%  url 'import' %}">Importer CSV</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item bg-danger" href="{%  url 'logout' %}">Déconnexion</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li> 
                    <div class="picture-user"> 
                        {% if user.is_superuser %}
                        <img src="{% static 'images/Super_user.png' %}" width="250" height="250" alt="photo">
                        {% else %}
                        <img src="{% static 'images/End_user.png' %}" width="250" height="250" alt="photo">
                        {% endif %}
                    </div> 
                </li>
            {% else %}
                <li class="nav-item end">
                    <a class="btn btn-success" aria-current="page" href="{%  url 'login' %}">Connexion</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
<!-- navbar ends -->